body{
    background-color:#f2f2f2;
}

h1{
    color:#e06c75;
}

h2{
    color: #c578dd;
}

h3{
    color: #98c379;
}

h4{
    color: #61afef;
}

h5{
    color: #e5c07b;
}

h6{
    color: #abb2bf;
}

p, code{
    color: #020202; 
}

li{
    color: #020202;
}

a{
    color: #020202;
}

button {
    color: #020202;
}

.topnav a {
    color: #020202;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #020202;
    color: #f0f0f0;
}