@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../assets/fonts/Montserrat-Medium.ttf')  format('truetype');
}
@font-face {
    font-family: 'Cantarell-Regular';
    src: url('../assets/fonts/Cantarell-Regular.ttf')  format('truetype');
}
@font-face {
    font-family: 'SourceCodePro-Variable';
    src: url('../assets/fonts/SourceCodePro-Variable.ttf')  format('truetype');
  }

body{
    transition-duration: 1.5s;
    text-align: left;
}

.container{
    padding-left: 25%;
    padding-right: 12%;
}

h1{
    font-size: 40px;
    font-weight: bolder;
    text-align: left;
    font-family: Cantarell-Regular;
    transition-duration: 1.5s;
}

h2{
    font-size: 36px;
    font-weight: bolder;
    text-align: left;
    font-family: Cantarell-Regular;
    transition-duration: 1.5s;
}

h3{
    font-size: 34px;
    font-weight: bolder;
    text-align: left;
    font-family: Cantarell-Regular;
    transition-duration: 1.5s;
}

h4{
    font-size: 30px;
    font-weight: bolder;
    text-align: left;
    font-family: Cantarell-Regular;
    transition-duration: 1.5s;
}

h5{
    font-size: 28px;
    font-weight: bolder;
    text-align: left;
    font-family: Cantarell-Regular;
    transition-duration: 1.5s;
}

h6{
    font-size: 24px;
    font-weight: bolder;
    text-align: left;
    font-family: Cantarell-Regular;
    transition-duration: 1.5s;
}

p{
    font-size: medium;
    font-weight: bold;
    text-align: left;
    font-family: Cantarell-Regular;
    line-height:1.5;
    padding-bottom: 6px;
    transition-duration: 1.5s;
    width: 75%;
}

code{
    font-size: medium;
    font-weight: bold;
    text-align: left;
    font-family: SourceCodePro-Variable;
    transition-duration: 1.5s;
}

li{
    font-size: medium;
    font-weight: bold;
    text-align: left;
    font-family: Cantarell-Regular;
    transition-duration: 1.5s;
}

blockquote {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 32px;
    border-left: 5px solid #434343;
    background-color: #848484;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    width: 75%
}

img{
    border-radius: 2%;
    max-width: 500px;
}

button{
    float: right;
    background-color: transparent;
    border: none;
    text-align: center;
    padding: 20px 20px;
    padding-right: 8%;
    text-decoration: none;
    font-weight: bolder;
    font-size: 14px;
    font-family: Cantarell-Regular;

    transition-duration: 1.5s;
}

.topnav{
    background-color:transparent;
    padding-right: 3%;
    overflow: hidden;
}

.topnav a{
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: Montserrat-Medium;
    
    transition-duration: 0.4s;
}
