body {
    background-color:#f0f0f0;
}

p, a{
    color:#020202;
}

/*
Themeing for dark mode
*/
  
button {
    color: #020202;
}

.topnav a {
    color: #020202;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #020202;
    color: #f0f0f0;
}