@font-face {
    font-family: 'Cantarell-Regular';
    src: url('../assets/fonts/Cantarell-Regular.ttf')  format('truetype');
  }

body {
    background-color:#202020;
}

h1 {
    font-size: 120px;
}

h2{
    font-size: 34px;
}

h3{
    font-size: 30px;
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
    font-family: Cantarell-Regular;

    color: #ffffff;
}

p, a{
    text-align: center;
    font-family: Cantarell-Regular;
    padding: 10px;

    color:#f0f0f0;
}

li {
    text-align: left;
    font-family: Cantarell-Regular;
    color: #ffffff;
}

footer {
    text-align: center;
    color:transparent;
}

img{
    border-radius: 5%;
    max-width: 100%
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.topnav{
    background-color:transparent;
    padding-right: 3%;
    overflow: hidden;
}

.topnav a{
    border-radius: 5px;
    color: #ffffff;

    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: Cantarell-Regular;

    transition-duration: 0.5s;
}

.topnav a:hover {
    background-color: #f0f0f0;
    color: #020202;
}
