body {
    background-color:#020202;
}

p{
    color:#f0f0f0;
}

/*
Themeing for dark mode
*/
  
button {
    color: #f0f0f0;
}

.topnav a {
    color: #f0f0f0;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #f0f0f0;
    color: #020202;
}
